*, 
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 200ms ease-in;
}

html, 
body{
    height: 100%;
}

body{
    background-color: #09071b;
    color: #fafafa;
    font-family: sans-serif;
}

a {
    color: #fafafa;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Estilo do header - ínicio */

header{
    background-color: #8437f1;
    height: 5rem;
    padding: 0.5rem;
    position: relative;
}

.header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
}

nav button{
    border: none;

    height: 3rem;
    width: 3rem;
    
    border-radius: 0.5rem;
    background-color: #3a0484;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

nav button:hover{
    background-color: #caacfc;
}

nav button i{
    font-size: 2rem;
    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #ebe238;
    padding: 1rem;
    display: none;
}

.menu li{
    font-size: 1.25rem;
}

.menu li a{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.menu li a:hover{
    background-color: #4a99ca;
}

.ativo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Estilos do header - fim */

main{
    margin: 0.25rem;
}

/* Estilos ToDo list - ínicio */

.todo-list-container{
    border: 1px solid #fafafa10;
    border-radius: 0.5rem;

    background-color: #2c2c2c;

    max-width: 40rem;
    margin: 2rem auto;

    padding: 1rem;
}

.todo-list-container h2{
    text-align: center;
    text-transform: capitalize;
}

.form-todo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    margin: 2rem 0;
}

.form-todo input,
.form-todo button{
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
}

.form-todo input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.form-todo button{
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: #caacfc;
    color: #2c2c2c;
}

.form-todo button:hover{
    background-color: #8d68c0;
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list li{
    font-size: 1.125rem;
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list li button{
    border: 0;
    background-color: #caacfc;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: #fafafa;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.todo-list li button:hover{
    background-color: #8437f1;
    transform:  scale(1.1);
}

.todo-list .complete{
    background-color: #00bc54;
    text-decoration: line-through;
}
/* Estilos ToDo list - fim */

@media screen and (min-width: 780px){
    nav button{
        display: none;
    }
    .menu{
        position: initial;
        background: none;
        display: flex;
        gap: 1rem;
    }
    .menu li a:hover{
        background-color: #3a0484;
    }
}
